[submodule "tools/ops-docker"]
	path = tools/ops-docker
	url = https://github.com/ops-tools/ops-docker.git
[submodule "tools/ops-revision"]
	path = tools/ops-revision
	url = https://github.com/ops-tools/ops-revision.git
